<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum VITAE</title>
    <!--OpenGraph-->
    <meta property="og:title" content="Curriculum VITAE"/>
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="https://rakiong-curri.herokuapp.com/"/>
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/101957005?s=400&u=5592959c131b6825c33c684e9db3575906d7e550&v=4"/>
    <meta property="og:description" content="¡Hola! Me llamo Ricardo. Soy programador Back-end y Front-end, Puedes contactarme para cualquier proyecto a tu necesidad.">
    <!-------->
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
<div id="contenedor">
    <br>
    <br>
    <h2 class="titulo">Curriculum VITAE</h2>
    <hr class="linea">
            <div class="logo11">
        <img src="/images/barra.png" alt="barra11" class="logo-barra11">
    </div>
    <div class="logo10">
        <img src="/images/yop.png" alt="logo10" class="logo-img2">
    </div>
    <div id="contenido">
        <div class="logo">
            <img src="/images/gmail.png" alt="logo" class="logo-img">
            <p class="email">   
                  blackrvalera@gmail.com
            </p>
        </div>
         <div class="logo2">
            <img src="/images/logo2.png" alt="logo2" class="logo-img2">
            <p class="telefono">
                (+58) 0412-035.53.58
            </p>
         </div>
    </div>
    <h2 class="datos"><%= __('DatosPersonales')%></h2>
    <hr class="linea1" align="left">
    <p class="DatosPersonales">
        <strong><%= __('Nombre')%></strong> Ricardo Argenis Valera Bolivar
        <br>
        <strong><%= __('FechadeNacimiento')%></strong>  27 de Marzo de 2003
        <br>
        <strong><%= __('LugardeNacimiento')%></strong> Hospital Dr Rangel
        <br>
        <strong><%= __('Direccion')%></strong> <%= __('Avenida')%> Lizandro Hernandez
        <br>
        <strong><%= __('Casa')%></strong> Nº 120
        <br>
        <strong><%= __('C.I')%></strong> V-30.406.581
        <br>
    </p>
    <div class="Redes1">
        <h2 class="Redes"><%= __('RedesSociales')%></h2>
    <hr class="linea8" align="left">
    <a class="Facebook" style="text-decoration:none" href="http://www.facebook.com/RakionG" target="_blank">RakionG</a>
    <div class="logo8">
        <img src="/images/facebook.png" alt="logo8" class="logo-img8">
    </div>
    <br>
    <a class="Twitter" style="text-decoration:none" href="https://twitter.com/rakionlele11" target="_blank">@rakionlele11</a>
    <div class="logo9">
        <img src="/images/twitter.png" alt="logo9" class="logo-img9">
    </div>
    </div>
    <!--FormacionAcademia-->
    <div class="Formacion">
        <h2 class="formacionacademica"><%= __('FormacionAcademica')%></h2>
    <hr class="linea3" align="left">
    <p class="FormacionAcademica">
        <strong>2015 - 2020</strong>
    <p class="Bachiller">
        <strong><%= __('Bachiller')%></strong>
    </p>
    <p class="Instituto">
        U.E.I.P "MADRE ENRIQUETA DE LOURDES"
    </p>
    <p class="Cursante">
        <strong>2020 - <%= __('EnCurso')%>
        </strong>
    <p class="Progreso">
        <strong> - <%= __('ActualmenteEnCurso')%></strong>
    </p>
    <br>
    <br>
    <p class="Universidad">
        U.E.N "ROMULO GALLEGOS"
    </p>
    </div>
    <!--Hasta aqui termina-->
    <div class="menu-translate">
      <a class="translate2" href="/translate"><img class="usa spain" height="25px" src="<%= IMG%>"></img><%= __('Translate')%></a>
    </div>
    <!--Habilidades y Destreza(Titulo)-->
    <div class="destrezas">
        <h2 class="Habilidad"><%= __('Habilidades')%></h2>
        <hr class="linea4">
        <div class="habilidades">
            <div class="habilidades3">
                <p class="Backend">Back-end:</p>
                <div class="logo3">
                    <img src="images/python.png" alt="logo3" class="logo-img2">
                </div>
                <!--Icono Python-->
                <div class="nombre">Python</div>
                <div class="barra">
                    <div class="barra1" per="95%" style="max-width:95%"> </div>
                </div>
            </div>
            <div class="habilidade">
                <!--Icono MYSQL-->
                <div class="nombre">MySQL</div>
                <div class="barra">
                    <div class="barra1" per="55%" style="max-width:55%"> </div>
             </div>
            </div> 
            <div class="bandidas2">
                <div class="logo13">
                    <img src="/images/mysql.png" alt="logo12" class="logo-img2">
                </div>
            </div>
            <div class="habilidadess">
                <p class="Frontend">Front-end:</p>
                <!--Icono JAVASCRIPT-->
                <div class="pocisionamiento">
                    <div class="logo13">
                        <img src="/images/js.png" alt="logo13">
                    </div>
                </div>
            <div class="bandidas">
                <div class="nombre">Javascript</div>
                <div class="barra">
                    <div class="barra1" per="50%" style="max-width:50%"> </div>
                </div>
            </div>
            <div class="habilidades2">
                <!--Icono HTML-->
                <div class="logo5">
                    <img src="/images/html.png" alt="logo5" class="logo-img5">
                </div>
                <div class="nombre">HTML</div>
                <div class="barra">
                    <div class="barra1" per="60%" style="max-width:60%"> </div>
             </div>
            </div>
            <div class="habilidades1">
                <!--Icono CSS-->
                <div class="logo6">
                    <img src="/images/css.png" alt="logo5" class="logo-img5">
                </div>
                <div class="nombre">CSS</div>
                <div class="barra">
                    <div class="barra1" per="60%" style="max-width:60%"> </div>
             </div>
             <div class="habilidade1">
                <!--Icono Photoshop-->
                <p class="multimedia"><%= __('Diseño')%> </p>
                <div class="nombre">Photoshop</div>
                <div class="barra">
                    <div class="barra1" per="65%" style="max-width:65%"> </div>
                    <div class="logo12">
                        <img src="/images/photoshop.png" alt="logo12">
                        <hr class="linea11">
                    </div>
            </div>
            <div class="PosDres">
            <h2 class="yo"><%= __('Destrezas')%></h2>
            <p class="textos">

                <strong>Python: </strong><%= __('Py')%>
                <br>
                <br>
                <strong>MySQL: </strong><%= __('MySQL')%>
                <br>
                <br>
                <strong>HTML: </strong><%= __('HTML')%>
                <br>
                <br>
                <strong>CSS: </strong><%= __('CSS')%>
                <br>
                <br>
                <strong>Javascript:</strong> <%= __('Javascript')%>
                <br>
                <br>
                <strong>Photoshop:</strong> <%= __('Photoshop')%>
            </p>
        </div>
    </div>
</div>
</div>
    
 </div>
    <!--Porcentaje-->
    
    <!--Aqui termina-->

    <!--Experiencia Laboral-->
    <div class="--exp">
        <h2 class="experiencia"><%= __('ExperienciaLaboral')%></h2>
        <hr class="linea5"></hr>
        <strong><p class="Inicioexp">2021 - <%= __('EnCurso')%>
            <p class="controlventas"><%= __('ControldeVentas')%></p>
        </p></strong>
        <p class="empresa">DELICATESSES LILIARGENYS C.A</p>
    </div>
    <!--Aqui Termina-->
<br>
<br>
<!--SobreMi-->
<div class="--sobremi">
    <h2 class="sobremi"> <%= __('SobreMi')%></h2>
    <hr class="linea6">
    <p class="sobre">- <%= __('Amante')%>
        <br>
        <br>
        - <%= __('Metodologias')%>
        <br>
        <br>
        - <%= __('Apasionado')%>
        <br>
        <br>
        - <%= __('BuenGusto')%>
        <br>
        <br>
        <i>"<%= __('ATS')%>"</i>
    </p>
<!--Aqui Termina-->
</div>
<br>
<!--Contenedor que contiene todo el form-->

<br>
<div class="bar"></div>
<!--Verification-->
</div>
</div>
</div>
</body>
</html>